<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC-n_0eKzboa4uPuzXgvlLBrjQ85p_0Wd0</string>
	<key>GCM_SENDER_ID</key>
	<string>756656362036</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bharath.todo</string>
	<key>PROJECT_ID</key>
	<string>to-do-14eee</string>
	<key>STORAGE_BUCKET</key>
	<string>to-do-14eee.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:756656362036:ios:6d9e23e81a04d7c6c27061</string>
</dict>
</plist>